@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}
p {
    font-family: bold;
}
button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #1d61dd;
    color: white;
}
header {
    background: no-repeat center/cover url("Assets/tailandboats.jpg");
    height: calc(120.5vh - 200px);
}
header nav {
    display: flex;
    justify-content: space-between;
    margin:  auto 90px;
}
header nav ul {
    display: flex;
    
}
header nav ul li {
    margin: 0 15px;
}

header nav p {
    font-weight: bold;
    color: green;
    font-size:x-large;
    font-style:inherit;

}
.header-content {
    max-width:  400px;
    margin: 150px auto;
    text-align: center;
    color: whitesmoke;
}
.header-content h1 {
    margin-bottom: 10px;
    font-size: 3rem;
}